<div class="mainContentDv">
	<table border="0" cellpadding="2" cellspacing="2" width="100%">
        <tbody><tr> 
          <td colspan="2" align="left" valign="top"> 
            <h1>&nbsp;About Us/Customer Service</h1>
            
          </td>
        </tr>
        <tr> 
          <td colspan="2" align="left" valign="top"> 
            <p class="bodytext">Thank you for your interest in Auctions4aCause. 
              We strive to offer you the best deals, while donating proceeds to 
              charities. </p>
            <p class="bodytext">Auctions 4 a Cause, LLC, a pioneer in the US for 
              "Highest Unique Bid" Auctions, has been holding Unique 
              Bid Auctions since the Fall of 2003. We were the first unique bid 
              auction site to donate any auction proceeds to charity, not only 
              that, but we continue to lead the pack by donating at least 25% 
              of our auction proceeds to the charities we support. By becoming 
              a member, you get to influence how much your selected charity receives 
              by placing bids in our auctions. At Auctions 4 a Cause you can bid 
              with confidence along with over 100,000 members and a proven and 
              reputable company you know has been around for years.</p>
            <p class="bodytext">Over the years, Auctions 4 a Cause has donated 
              tens of thousands of dollars to multiple charities (see the <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/charity">Charities 
              page</a> for the current charities you can choose to support) and 
              we continue to donate thousands of dollars every quarter thanks 
              to people like you who participate in our auctions. By bidding, 
              not only do you get the opportunity to get amazing deals, but you 
              also know you are supporting worthy and needy charities.</p>
            <p class="bodytext">Auctions4aCause.com features unique bid auctions 
              which are legally classified as skill-based prize competitions. 
              In these blind auctions our members compete for the chance to purchase 
              popular brand new, name brand products at 80-90% off retail prices. 
              The participants bid for a particular item by submitting <i>blind 
              </i>or<i> sealed</i> (i.e. secret) bids: the winner is the bidder 
              who places the highest unique bid. A "unique" bid, in 
              this context, means one in which the amount offered is the only 
              one of that value. Each auction has a defined number of bids that 
              are accepted before it closes and the highest unique bidder gets 
              to purchase the item for their bid amount. For every bid a participant 
              places in an auction, they pay a nominal bidding fee and the charity 
              in the participant's member profile will receive a donation based 
              on their bid(s).</p>
            <p class="bodytext">Prior to starting Auctions 4 a Cause, several 
              of our founders were involved with fundraising for charities and 
              had noticed that contributions to charities were suffering. The 
              company was founded after the high-tech industry crash in 2003 in 
              which we saw first hand a donations shortfall and increased need 
              for charitable support. We decided to take matters into our own 
              hands and use years of marketing, engineering and web development 
              experience in pursuit of bettering our society and achieving our 
              dreams. </p>
            <p class="bodytext">All the products listed on Auctions4aCause.com 
              are brand new and carry the original manufacturer warranty unless 
              otherwise indicated. All shipping is free within the United States. 
              We reserve the right to select the shipping method of your product 
              at our discretion. If a product arrives damaged, please make sure 
              to photograph the shipping container and contact the shipping company 
              for resolution. </p>
            <p class="bodytext">All manufacturer (s) warranties are in effect 
              according to the product (s) documentation. Please contact the manufacturer 
              directly with any questions or claims. If you encounter any issues, 
              please contact us using the methods indicated. While we are not 
              the manufacturer, nor the shipper and we are not responsible for 
              any issues arising out of the use of the product, we will do our 
              best to assist you in resolving your issues.</p>
            <p></p>
            <p></p>
            <p class="bodytext">If you have any questions, are experiencing any 
              difficulties in using this site or would like to suggest a product 
              for us to auction, please contact us at <a href="mailto:{$SITEEMAIL}">{$SITEEMAIL}</a>.</p>
            <p class="bodytext">Thank you, </p>
            <p class="bodytext">Auctions4aCause Staff</p>
            <p class="bodytext"><br>
              <b>If you prefer, you can send postal mail to:</b></p>
            <p class="bodytext">Auctions 4 A Cause<br>
              6547 N. Academy Blvd. #421<br>
              Colorado Springs, CO 80918-8342</p>
            <p class="bodytext"><b>You may also contact us via phone by calling:</b></p>
            <p class="bodytext">(719) 266-8357</p>
            <p><span class="bodytext">Office hours are limited and you may be 
              required to leave a voice mail. Please leave an email address along 
              with any other relevant contact info so we can respond as quickly 
              as possible.</span><br>
            </p>
            <p class="bodytext">&nbsp;</p>
            <p class="bodytext"><a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/index">Start bidding now</a></p>
            <p>&nbsp;</p>
            <p><img src="{$HTTPPATH}/auction4cause/images/seal_p3p.gif" alt="P3P-Services Authentication" border="0" width="119" height="59"></p>
            </td>
        </tr>
      </tbody></table>
	
</div>