<div class="mainContentDv">
	<table border="0" cellpadding="2" cellspacing="2" width="100%">
        <tbody><tr> 
          <td colspan="2" align="left" valign="top"> 
            <h1><b>How is this site different from the typical auction sites? 
              &nbsp;&nbsp;</b></h1>
            
          </td>
        </tr>
        <tr> 
          <td colspan="2" align="left" valign="top"> 
            <p><span class="bodytext"><a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=howdoesitwork">Watching the 
              short Flash movie</a>
explains how this auction site works. Below you can read about some of
the differences between an Auctions4aCause.com auction (middle column)
and a typical auction (right column).</span></p>
            </td>
        </tr>

		<tr>
			
          <td> 
            <table class="difftable" border="1" cellpadding="3" cellspacing="2" width="100%">
              <tbody><tr bgcolor="#ffffcc"> 
                <td class="bodytext">&nbsp;</td>
                <td class="bodytext" align="left" valign="top"><b>Auctions4aCause.com</b></td>
                <td class="bodytext" align="left" valign="top"><b>Typical Auction</b></td>
              </tr>
              <tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='#ffffff';"> 
                <td class="bodytext" bgcolor="#ffffcc"><b>How do I win?</b></td>
                <td class="bodytext" title="Auctions4aCause.com Auctions" align="left" valign="top"><b>The highest 
                  UNIQUE bid wins.</b><br>
                  A unique bid means that nobody else bid the exact same amount. 
                  For example, in a single auction the following bids are accepted: 
                  <br>
                  <span class="smallbody">Participant "A" bids $60.42 
                  (bid #1)<br>
                  Participant "B" subsequently submits the identical 
                  bid of $60.42 (bid #2)<br>
                  Participant "C" bids 48.69 (bid #3)<br>
                  Participant "D" bids 59.75 (bid #4) <font color="#660099"><b>&lt;--Successful 
                  Bid!!!</b></font></span></td>
                <td class="bodytext" title="Typical Auctions" align="left" valign="top">In a typical auction, the highest bidder 
                  wins...and sometimes you pay more for the product than it's 
                  worth. </td>
              </tr>
              <tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='#ffffff';"> 
                <td class="bodytext" bgcolor="#ffffcc"><b>Can I see the bids placed?</b></td>
                <td class="bodytext" title="Auctions4aCause.com Auctions" align="left" valign="top">This is a blind 
                  auction, so <b>nobody gets to see the bids placed.</b></td>
                <td class="bodytext" title="Typical Auctions" align="left" valign="top">In typical auctions everyone sees the 
                  current high bid, which results in the price being driven up 
                  rapidly. </td>
              </tr>
              <tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='#ffffff';"> 
                <td class="bodytext" bgcolor="#ffffcc"><b>Number of bids allowed in an auction</b></td>
                <td class="bodytext" title="Auctions4aCause.com Auctions" align="left" valign="top"><b>Limited number 
                  of bids allowed</b> for each auction, making you more successful, 
                  more often.</td>
                <td class="bodytext" title="Typical Auctions" align="left" valign="top">Typical auctions have an unlimited number 
                  of bids, decreasing your chances of winning</td>
              </tr>
              <tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='#ffffff';"> 
                <td class="bodytext" bgcolor="#ffffcc"><b>Maximum bid amount</b></td>
                <td class="bodytext" title="Auctions4aCause.com Auctions" align="left" valign="top"><b>The "Get4" 
                  price is the maximum amount that you can bid. </b>The Get4 price 
                  is always 80-90% off retail price. </td>
                <td class="bodytext" title="Typical Auctions" align="left" valign="top">The bid amount 
                  continues to increase in a "highest bid" auction, 
                  eventually reaching an amount that you're uncomfortable with.</td>
              </tr>
              <tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='#ffffff';"> 
                <td class="bodytext" bgcolor="#ffffcc"><b>Products</b></td>
                <td class="bodytext" title="Auctions4aCause.com Auctions" align="left" valign="top">We always auction 
                  <b>brand new, name brand products.</b></td>
                <td class="bodytext" title="Typical Auctions" align="left" valign="top">Typical auction items can be used or 
                  donated items, not necessarily new.</td>
              </tr>
              <tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='#ffffff';"> 
                <td class="bodytext" bgcolor="#ffffcc"><b>Bid fee</b></td>
                <td class="bodytext" title="Auctions4aCause.com Auctions" align="left" valign="top">There is a nominal 
                  bid fee specified for each auction, usually $9.94 per bid. This 
                  <b>Bid Fee is</b> <b>charged (<i>not</i> the amount you bid) 
                  at the time the bid is placed</b> whether the bid is successful 
                  or not. The bid fee is charged each time you place a bid. A 
                  portion of the bidding fees are donated to your selected charity.</td>
                <td class="bodytext" title="Typical Auctions" align="left" valign="top">None</td>
              </tr>
              <tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='#ffffff';"> 
                <td class="bodytext" bgcolor="#ffffcc"><b>Consolation auctions</b></td>
                <td class="bodytext" title="Auctions4aCause.com Auctions" align="left" valign="top">We 
                  award all unsuccessful bids with a <b>free bid in the "<a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/bonus_auctions">Bonus 
                  Auctions</a>"</b></td>
                <td class="bodytext" title="Typical Auctions" align="left" valign="top">None</td>
              </tr>
            </tbody></table>
            <p><a name="strategy"></a></p>
            <p class="bodytext"><b class="orangeH3">BID STRATEGY</b></p>
            <p class="bodytext">Our site is not like eBay, where you need to be 
              the last bidder and you often get outbid by someone using some kind 
              of automated bid and monitoring tool. With Auctions4aCause, you 
              are the successful bidder when you have the highest unique (=unduplicated) 
              bid. But, since this is a blind auction, where the close date is 
              driven by the number of bids received, you can't just wait till 
              the last moment to place a bid that wins the auction....and remember, 
              bidding too low will not help as our site is geared to the higest 
              bid that is not also placed by someone else.</p>
            <p><span class="bodytext">So here is what some of our most successful 
              winners have done....they bid multiple times in a single auction. 
              Bidding multiple times increases your chances of winning since we 
              only allow so many total bids per auction. Also, they use their 
              <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/mybids">bid history page</a> to see if their bids are 
              unique or duplicate. This tells them if they need to bid again or 
              not. Remember, a bid fee (usually $9.94) is charged for each bid 
              placed in a main auction.</span></p>
            <p><br>
            </p>
            <div align="center"><a href="javascript:history.go(-1)" title="Click to go Back" class="bulletbig">BACK 
              to previous page</a></div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </td>
		</tr>

      </tbody></table>
	
</div>