<div class="mainContentDv">
	<table width="100%" border="0" cellspacing="2" cellpadding="2">
        <tr> 
          <td align="left" valign="top" colspan="2"> 
            <h1>Explanation of Credits</h1>
            
          </td>
        </tr>
        <tr> 
          <td colspan="2" valign="top" align="left"> 
            <p class="bodytext"><b>Profile box details</b></p>

            </td>
        </tr>

		<tr>
			
          <td> 
            <p class="bodytext"><b>Free Auction Bid credits:</b><br>
              These are credits you can use in our Free Auctions. You earn 1 free 
              credit when you register to become a member, and you will receive 
              1 free credit for every paid bid your referred friend places. This 
              means the more your friends and family get involved with this site, 
              the more free credits you get!* Note: Free credits expire in 45 
              days so make sure to use them in our free auctions.</p>
            <p class="bodytext"><b>Bonus Bids:</b><br>

              If you happen to not be the successful bidder in an auction, you 
              will receive a bonus bid credit to use in our special Bonus Auction. 
              The Bonus Auctions are restricted to those who participated in a 
              Main Auction. Bonus credits expire in 45 days.</p>
            <p class="bodytext"><b>Refer a Friend:</b><br>
              Invite your friends to see this site. And when they become a member 
              and place a bid in one of the main auctions, you will receive a 
              free bid credit for use in our free auction area. Not just once, 
              but EVERY time your friend places a paid bid*.</p>
            <p class="bodytext"><b>Have you referred any friends lately? Follow 
              this link to easily <a href="referafriend.asp">invite your friends 
              and family</a> to experience this site. Take a look at the great 
              <a href="free-auctions.asp"><font color="#0000FF">Free Auctions</font></a> 
              you'll be earning credits for. </b></p>

            <p class="bodytext">&nbsp;</p>
            <p class="bodytext">*up to 100 free auction credits</p>
          </td>
		</tr>

      </table>
</div>