<div class="mainContentDv">
	<table border="0" cellpadding="2" cellspacing="2" width="100%">
        <tbody><tr> 
          <td colspan="2" align="left" valign="top"> 
            <h1><a name="top"></a><b>Frequently Asked Questions (FAQ)</b></h1>
            <p class="bodytext">Auctions 4 a Cause, LLC has been holding Unique 
              Bid Auctions since the Fall of 2003 and we have donated thousands 
              of dollars to multiple charities. </p>
            <p class="bodytext">Since this is an auction site, you can only buy 
              the product if you win the auction. </p>
            <p class="bodytext">Click on a question to go directly to that section, 
              or scroll down to see the answers. Follow this link for a <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=howdoesitwork">quick 
              overview of how the auctions works</a>. And see how <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=different">this 
              is different from a typical auction</a>.</p>
            <ul>
              <li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"><a href="#1">What is 
                  Auctions4aCause.com?</a>
              
              </p></li><li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"><a href="#3">How do 
                  the auctions work?</a>
              
              </p></li><li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#24">What 
                  is a unique bid?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#25">What 
                  if an auction closes and there is not a unique bid?</a></p>
              </li>
              <li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"><a href="#5">What is 
                  the "<b><font color="#000000">Get</font><font color="#660099">4</font></b>" 
                  price?</a>
              
              </p></li><li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"> <a href="#35">Can 
                  I bid more than the "</a><a href="#5"><b><font color="#000000">Get</font><font color="#660099">4</font></b></a><a href="#35">" 
                  price?</a>
              
              </p></li><li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#10">How 
                  many bids can be submitted in an auction?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#11">How 
                  long will an auction remain open?</a></p>
              </li>
              <li class="bodytext"><a href="#11a">How will I know when an auction 
                ends?</a></li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#12">How 
                  many bids can I place in a single auction?</a></p>
              </li>
              <li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"> <a href="#6">How can 
                  I buy the products and/or services at or below the "</a><a href="#5"><b><font color="#000000">Get</font><font color="#660099">4</font></b></a><a href="#6">" 
                  price?</a>
              
              </p></li><li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"> <a href="#26">How 
                  is the successful bid determined?</a>
              
              </p></li><li class="bodytext"><a href="#11a">What is the "Closing Soon" 
                indication? </a> </li>
              <li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"> <a href="#27">How 
                  can I see what the successful bid was in an auction?</a>
              
              </p></li><li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#13">How 
                  will I know if I have the successful bid in an auction?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#14">What 
                  if I didn't have the successful bid for an auction?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#15">Can 
                  I participate in more auctions even though I've already been 
                  the successful bidder in another auction?</a></p>
              </li>
              <li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"> <a href="#7">How much 
                  does it cost to bid?</a>
              
              </p></li><li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#16">What 
                  forms of payment do you accept?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#30">How 
                  long do I have to pay?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#37">What 
                  are the different types of auctions?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#8">How 
                  do I earn free auction credits?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#9">How 
                  do I earn Bonus auction credits? </a></p>
              </li>
              <li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"><a href="#2">What kinds 
                  of "causes" do you serve?</a>
              
              </p></li><li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"> <a href="#17">How 
                  can you afford to sell new brand name products for 80-90% off 
                  retail prices and still donate so much money to charity?</a>
              
              </p></li><li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#22">Which 
                  charities receive money from my bids?</a></p>
              </li>
              <li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"><a href="#4">How are 
                  the donations to the charities determined?</a>
              
              </p></li><li class="bodytext"> 
                <p style="margin-top: 2px; margin-bottom: 2px;"> <a href="#29">How 
                  do I change my charity affiliation?</a>
              
              </p></li><li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#23">How 
                  can I contact somebody at Auctions 4 A Cause?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#28">Will 
                  you share my user information?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#18">Are 
                  the products new or used?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#19">How 
                  will my product and/or service be shipped?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#20">How 
                  much do I have to pay for shipping?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#21">Can 
                  I have the product and/or service delivered to an address outside 
                  the USA or Canada?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#31">Can 
                  I change or cancel my bid once it has been submitted?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#32">Where 
                  can I go to review my bids or see the status of auctions I have 
                  participated in?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#33">What 
                  is your refund policy?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#34">When 
                  will I receive the product?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#36">Can 
                  I see other participants' bids?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#38">Do 
                  the products or services come with a warranty?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#39">Who 
                  can become a member and bid in an auction?</a></p>
              </li>
              <li class="bodytext"> 
                <p class="bodytext" style="margin-top: 2px; margin-bottom: 2px;"> <a href="#40">What 
                  if I forget my username and/or password?</a></p>
              </li>
            </ul>
            <p><a name="1"></a></p>
            <p class="bodytext"><b>What is Auctions4aCause.com?</b></p>
            <p class="bodytext">Auctions4aCause.com is the Internet website of 
              Auctions 4 A Cause, LLC, a Colorado company, which manages and implements 
              private auctions, designed to raise money for selected charities 
              and member non-profit fundraising organizations through the Internet 
              via an innovative auction process called the Auction 4 Charity.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="3"></a></p>
            <p class="bodytext"><b>How do the auctions work?</b></p>
            <ul>
              <li class="bodytext">Before each auction, the auction supervisor 
              will determine the maximum bid amount and the maximum number of 
              bids that will be accepted for the auction, among other things. 
              This maximum bid price will be displayed for each auction and is 
              referred to as the "<strong>Get<font color="#660099">4</font></strong>" price.</li>
              <li class="bodytext">To Participate, users must register and setup 
                a profile in which they choose a charity, from a list of selected 
                charities. Registering is free.</li>
              <li class="bodytext">After registering members may then participate 
                in an auction. </li>
              <li class="bodytext">To participate in an auction members submit 
                bids, less than or equal to the "<strong>Get<font color="#660099">4</font></strong>" price in US dollars 
                and cents and agree to pay a nominal bidding fee for each submitted 
                bid.</li>
              <li class="bodytext">For every bid a participant places in an auction, 
                the charity in the Participant's member profile will receive one 
                point. </li>
              <li class="bodytext">Each Auction will close when it receives the 
                maximum number of bid for the auction or meets the other closing 
                requirements. </li>
              <li class="bodytext">After the auction closes, the participant that 
                submitted the successful (winning) bid is determined. The successful 
                bid is the highest unique bid out of all bids received for the 
                auction. </li>
              <li class="bodytext">The successful participant may then purchase 
                the product and/or service for the successful bid amount submitted 
                by them in the Auction. </li>
              <li class="bodytext">After receiving payment for the successful 
                bid amount, the product and/or service will be delivered to the 
                member.</li>
            </ul>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="24"></a></p>
            <p class="bodytext"><b>What is a unique bid?</b></p>
            <p class="bodytext">A unique bid is a bid that is NOT a duplicate 
              bid. A "duplicate bid" is a bid submitted by a participant 
              in an auction where another participant(s) has submitted a bid(s) 
              for the identical amount. Duplicate bids are used to calculate the 
              number of bids required to close an auction, but are disqualified 
              from being selected as the successful bid. A bid can be unique and 
              still not qualify as the successful bid. For example, in a single 
              auction the following bids are accepted: </p>
            <p class="bodytext">Participant "A" bids $69.42 (bid #1)<br>
              Participant "B" subsequently submits the identical bid 
              of $69.42 (bid #2)<br>
              Participant "C" bids $48.69 (bid #3)<br>
              Participant "D" bids $65.44 (bid #4) <font color="#660099"><b><font face="Wingdings">ß</font> 
              Successful Bid!!!</b></font></p>
            <p class="bodytext">Bids #1 and #2 are for identical values and are 
              therefore duplicate bids and disqualified from being selected as 
              the successful bid. Bids #3 and #4 are both unique bids and qualify 
              to be selected as the successful bid. Bid #4 is the highest unique 
              bid and is therefore selected as the successful bid. All participants 
              will be required to pay the bidding fees for the bids they submitted. 
              Participant "D" is awarded the right to purchase the product 
              and/or service offered in the auction at the successful bid amount. 
              &lt;<a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=howdoesitwork#texthowto">Return to How Does the 
              Auction Work</a>&gt;</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="25"></a></p>
            <p class="bodytext"><b>What if an auction closes and there is not a unique 
              bid?</b></p>
            <p class="bodytext">In the very unlikely event that an auction closes 
              and there is not a unique bid, all participants will receive an 
              e-mail describing the situation and will be asked to submit a new 
              bid within 72 hours. There will be no fees associated with the new 
              bid and a special URL will be given to the participant to submit 
              the new bid. If a participant does not submit a new bid, their original 
              bid will be used.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="5"></a></p>
            <p class="bodytext"><b>What is the "</b><strong>Get<font color="#660099">4</font></strong><b>" price?</b></p>
            <p class="bodytext">The "<strong>Get<font color="#660099">4</font></strong>" 
            price is the maximum price a member can bid on a product and/or 
            service in an auction. The "<strong>Get<font color="#660099">4</font></strong>" 
            price is approximately 80-90% off suggested retail prices and is the 
            maximum price a product and/or service can be sold for.&nbsp; Even better the amazingly low "<strong>Get<font color="#660099">4</font></strong>" price has 
              no hidden charges and includes all taxes, shipping and handling 
              costs unless otherwise noted in the auction.&nbsp; It is NOT 
            possible to purchase a product at or below the "<strong>Get<font color="#660099">4</font></strong>" 
            price unless you win the auction with the highest unique bid.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="35"></a></p>
            <p class="bodytext"><b>Can I bid more than the "</b><strong>Get<font color="#660099">4</font></strong><b>" 
            price?</b></p>
            <p class="bodytext">No. Your bid must be equal to or less than the "<strong>Get<font color="#660099">4</font></strong>" 
            price. Bids greater than the "<strong>Get<font color="#660099">4</font></strong>" 
            price will not be accepted.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="10"></a></p>
            <p class="bodytext"><b>How many bids can be submitted in an auction?</b></p>
            <p class="bodytext">The maximum number of bids allowed in any one 
              auction is determined by the auction supervisor before the auction 
              opens, and may vary between different auctions. The maximum number 
              of bids that will be accepted for an auction will be clearly specified 
              in the information presented for each auction. Once an auction opens, 
              the maximum number of bids will not be changed for that auction.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="11"></a></p>
            <p class="bodytext"><b>How long will an auction remain open?</b></p>
            <p class="bodytext">An auction will remain open until either the maximum 
              number of bids allocated for the auction is reached OR the auction 
              reaches maturation (63 days for auctions requiring less than 200 
              bids, and 183 days for auctions requiring 200 or more bids), AND 
              has received the MINIMUM number of bids required to close. If the 
              minimum number of bids has not been reached, the auction will be 
              extended until the minimum number of bids has been reached. At that 
              time, a closing date of three days will be set and posted on the 
              auction. This is a very good time to bid in an auction because your 
              chances of submitting the successful bid are greater because the 
              maximum number of bids has not yet been reached and you will be 
              competing against fewer bidders.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="11a"></a></p>
            <p class="bodytext"><b>What is the "Closing Soon" indication?/How 
              will I know when an auction ends? </b></p>
            <p class="bodytext">We will attempt to show a "Closing Soon" 
              indication on any auction that has only 20% or less of the bids 
              left to go before it hits the maximum number of bids we accept for 
              the auction. If an auction is set up with a maximum of 50 or less 
              bids, the "Closing Soon" indication will show when there 
              are 10 or less bids left.</p>
            <p></p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="12"></a></p>
            <p class="bodytext"><b>How many bids can I place in a single auction?</b></p>
            <p class="bodytext">You may bid as many times as you would like, within 
              the constraints of the maximum number of bids that may be accepted 
              for an auction. The more times you bid, the more chances you will 
              have of becoming the successful bidder. You will be charged bidding 
              fees for every bid you place in a main auction.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="6"></a></p>
            <p class="bodytext"><b>How can I buy the products and/or services at 
              or below the "</b><strong>Get<font color="#660099">4</font></strong><b>" price?</b></p>
            <p class="bodytext">Every auction offered by Auctions4aCause.com 
              is for only one item per auction. Like any auction, ONLY the auction 
              winner is allowed to purchase the product and/or service. If you 
              are the successful bidder for an auction, you may purchase the product 
              and/or service for your successful bid amount or donate it to 
            charity. The successful bid in an auction is the highest unique bid. Here is how it works:</p>
            <p class="bodytext"> Suggested Retail Price = $1,000<br>
              "<strong>Get<font color="#660099">4</font></strong>" Price = $100<br>
              Your "Successful Bid" = $78.24<br>
              You pay ONLY = $78.24 (Even less than the already low "<strong>Get<font color="#660099">4</font></strong>" 
              price)</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="26"></a></p>
            <p class="bodytext"><b>How is the successful bid determined?</b></p>
            <p class="bodytext">When an auction closes, all duplicate and unique 
            bids are identified. Duplicate bids are disqualified and unique bids 
            are ranked by value. The highest unique bid less than or equal to 
            the "<strong>Get<font color="#660099">4</font></strong>" price is declared the successful bid and the participant 
            that submitted the successful bid is awarded the right to purchase 
            the product and/or service at the successful bid amount. &lt;<a href="#24">example</a>&gt;</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="27"></a></p>
            <p class="bodytext"><b>How can I see what the successful bid was in an 
              auction?</b></p>
            <p class="bodytext">When an auction closes and the successful bid 
              is determined, all auction participants will receive an e-mail with 
              the auction results. In addition, auction results may be viewed 
              on your bidding history page and all closed auctions will be displayed 
              on the closed auctions page for a minimum of 45 days.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="13"></a></p>
            <p class="bodytext"><b>How will I know if I have the successful bid in 
              an auction?</b></p>
            <p class="bodytext">In the event you are the successful bidder, within 
              a few days of an auction closing, we will contact you, via the e-mail 
              address contained in your member profile at the time you submitted 
              the successful bid. If we are unable to contact you via e-mail we 
              will try alternate methods such as telephone and postal mail.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="14"></a></p>
            <p class="bodytext"><b>What if I didn't have the successful bid for an 
              auction?</b></p>
            <p class="bodytext">You will receive a bonus auction credit good for 
              45 days that will allow you to bid on items in the bonus auction 
              area of the website. You will still be charged the bidding fees 
              if you are not the successful bidder.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="15"></a></p>
            <p class="bodytext"><b>Can I participate in more auctions even though 
              I've already been the successful bidder in another auction?</b></p>
            <p class="bodytext">Absolutely. There are no limits to the number 
              of auctions you may participate in or win.</p>
            <p class="bodytext"> &lt;<a href="#top">Return to Top</a>&gt;<a name="7"></a></p>
            <p class="bodytext"><b>How much does it cost to bid?</b></p>
            <p class="bodytext">The bidding fees vary from auction to auction 
              and are clearly specified in the information posted for each auction. 
              Bidding fees are kept low and typically range from $9.94 to $19.94. 
              Bids in the free and bonus auction areas are FREE, but you must 
              have free auction or bonus auction credits in order to participate 
              in these areas.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="16"></a></p>
            <p class="bodytext"><b>What forms of payment do you accept?</b></p>
            <p class="bodytext">Visa, MasterCard, Discover and American Express.&nbsp; 
              We will be accepting electronic checks and PayPal soon. You can 
              bid and pay with confidence at www.Auctions4aCause.com, our site 
              uses a secure SSL payment gateway and encryption from VeriSign&#8482;. 
              Click on the Seal in the left column of this page to check our secure 
              certificate.<br>
              &lt;<a target="_self" href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=secure">Click here to learn why 
              this site is safe</a>&gt;</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="30"></a></p>
            <p class="bodytext"><b>How long do I have to pay?</b></p>
            <p class="bodytext">Bidding fees are charged at the time you place a 
            bid. If you are the winner of an auction, you will have (45) days, from the transmission 
              of a notification message sent to the e-mail address in your member 
              profile identifying you as the successful participant, to pay the 
              amount of your successful bid. Payment instructions will be included 
              in this e-mail notification. </p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="37"></a></p>
            <p class="bodytext"><b>What are the different types of auctions?</b></p>
            <p class="bodytext">There are three different types of auctions: Main 
              Auctions, Free Auctions, and Bonus Auctions. All members may participate 
              in a main auction by paying bidding fees. Only members that have 
              earned free or bonus auction credits may participate in a free or 
              bonus auction.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="8"></a></p>
            <p class="bodytext"><b>How do I earn free auction credits?</b></p>
            <p class="bodytext">Users of the website will earn one free auction 
              credit for becoming a member. Every time one of your friends, which 
              you referred to the website via the "Refer a Friend" program, 
              places a bid in a main auction and pays the required bidding fees, 
              you will receive one free auction credit. Do you have more friends 
              you want to tell about the amazing deals you get at www.Auctions4aCause.com 
              while helping charity or do you want to increase your chances of 
              winning a free auction? &lt;<a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/referafriend">Click here 
              to Refer A Friend</a>&gt; Hurry, don't forget to use your free auction 
              credits, they expire after 45 days.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="9"></a></p>
            <p class="bodytext"><b>How do I earn Bonus auction credits? </b> </p>
            <p class="bodytext">If you place a bid in a main auction, but aren't 
              the successful bidder, don't despair. You still have a chance to 
              win an auction for great products. For EVERY non-successful bid 
              you place in a main auction, you will earn one bonus auction credit 
              that will allow you to bid on the great products in our Bonus Auction 
              area. This is just another way we make it easier get amazing deals 
              at www.Auctions4aCause.com. Hurry, don't forget to use your Bonus 
              auction credits, they expire after 45 days.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="2"></a></p>
            <p class="bodytext"><b>What kinds of "causes" do you serve?</b></p>
            <p class="bodytext">Every quarter Auctions 4 A Cause donates at least 
              25% of the net auction proceeds to the charities or up to 65% of 
              net proceeds to the fundraisers sponsored by Auctions 4 A Cause. 
              There will always be 4 to 5 well-known charities supporting different 
              causes for you to choose from. If you don't see your favorite charity 
              or cause sponsored on the website, you can tell us about your favorite 
              charity &lt;<font class="bodytext" color="#ffffff"><a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/charities">Charity 
              Listings</a></font>&gt;. In addition to the money we donate to the 
              sponsored charities, every quarter we will choose two member submitted 
              charities to receive a portion of that quarter's donations. If your 
              favorite charity supports a worthy cause and could benefit from 
              a donation, please tell us about it.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="17"></a></p>
            <p class="bodytext"><b>How can you afford to sell new brand name products 
              for 80-90% off retail prices and still donate so much money to charity?</b></p>
            <p class="bodytext">The Auction 4 Charity is a new and innovative 
              method of conducting auctions on the Internet to raise money for 
              charities. Every participant pays an affordable bidding fee for 
              each bid they place in an auction. By collecting these fees, keeping 
              our administrative costs low and/or by getting product donations 
              from the product manufacturers, we are able to offer these amazing 
              discounts and still donate at least 25% of the auction net proceeds 
              to the selected charities.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="22"></a></p>
            <p class="bodytext"><b>Which charities receive money from my bids?</b></p>
            <p class="bodytext">There will always be 4 to 5 well-known charities 
              supporting worthy and different causes for you to choose from. If 
              you don't see your favorite charity or cause sponsored on the website, 
              you can tell us about your favorite charity. In addition to the 
              money we donate to the supported charities, every quarter we will 
              choose two member submitted charities to receive a portion of that 
              quarter's donations. See the &lt;<font class="bodytext" color="#ffffff"><a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/charities">Charity 
              Listings</a></font>&gt; section of this site to learn more about 
              the charities we've selected or to tell us about your favorite charity. 
            </p>
            <p><span class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<b></b></span><b><a name="4"></a></b></p>
            <p class="bodytext"><b>How are the donations to the charities 
            determined?</b></p>
            <p class="bodytext">Every time a member participates in an auction, 
              the charity selected in their member profile gets a point. At the 
              end of the quarter all the points are tabulated and the charities 
              are ranked according to the percentage of the points earned. This 
              percentage determines the distribution of the proceeds each charity 
              gets.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="29"></a></p>
            <p class="bodytext"><b>How do I change my charity affiliation?</b></p>
            <p class="bodytext">Log in and change your charity selection in your 
              member profile. Every time you place a bid, the charity selected 
              in your member profile will receive one point. If you change your 
              affiliation, points earned for prior bids will not be altered. This 
              allows you to earn points for multiple charities if you desire.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="23"></a></p>
            <p class="bodytext"><b>How can I contact somebody at Auctions 4 A 
            Cause?</b></p>
            <p class="bodytext">See the &lt;<font class="bodytext" color="#ffffff"><a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=aboutus">Contact 
              Us</a></font>&gt; section on our website to reach a representative. 
            </p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="28"></a></p>
            <p class="bodytext"><b>Will you share my user information?</b></p>
            <p class="bodytext">Auctions 4 A Cause does not share any member information 
              with affiliates or outside sources, other than those required to 
              conduct the auction and process payments. Please see our &lt;<font class="bodytext" color="#ffffff"><a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=privacy">Privacy 
              Policy</a></font>&gt; for more details. </p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="18"></a></p>
            <p class="bodytext"><b>Are the products new or used?</b></p>
            <p class="bodytext">All products and/or services are new, brand name 
              products with warranty, provided by the manufacturer or distributor, 
              unless otherwise noted.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="19"></a></p>
            <p class="bodytext"><b>How will my product and/or service be shipped?</b></p>
            <p class="bodytext">If you are the successful bidder, once you pay 
              the successful bid amount the product and/or service will be shipped 
              to you. Auctions 4 A Cause will select the delivery method based 
              on the product and/or service to be delivered. Some products and/or 
              services will be shipped overnight while others will be shipped 
              via ground service.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="20"></a></p>
            <p class="bodytext"><b>How much do I have to pay for shipping?</b></p>
            <p class="bodytext">All shipping and handling charges are included 
              in the successful bid. There are no additional charges for shipping 
              or handling. You will be responsible for any taxes and/or customs 
              duties.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="21"></a></p>
            <p class="bodytext"><b>Can I have the product and/or service delivered 
              to an address outside the USA or Canada?</b></p>
            <p class="bodytext">At this time, our auctions are only open to members 
              with US or Canadian addresses. </p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="31"></a></p>
            <p class="bodytext"><b>Can I change or cancel my bid once it has been 
              submitted?</b></p>
            <p class="bodytext">When you submit a bid you will be asked to verify 
              your bid prior to final submission. As a general policy bids cannot 
              be changed or canceled once they have been submitted. We will consider 
              special requests on an individual basis providing that the request 
              is submitted while that auction is still open. A confirmation e-mail 
              will be sent to the e-mail address in your member profile verifying 
              your bid was accepted. If you received a confirmation e-mail and 
              suspect fraudulent use of your credit card, please &lt;<font class="bodytext" color="#ffffff"><a href="http://www.auctions4acause.com/aboutus.asp">Contact 
              Us</a></font>&gt; immediately. </p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="32"></a></p>
            <p class="bodytext"><b>Where can I go to review my bids or see the status 
              of auctions I have participated in?</b></p>
            <p class="bodytext">When you submit a bid, a confirmation e-mail will 
              be sent to the e-mail address in your member profile verifying the 
              bid was accepted. Bidding histories, auction statuses and results 
              may be viewed on your bidding history page.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="33"></a></p>
            <p class="bodytext"><b>What is your refund policy?</b></p>
            <p class="bodytext">As a general policy, refunds and credits for bidding 
              fees will not be issued. We will consider special requests on an 
              individual basis providing that the request is submitted while that 
              auction is still open. Please see the &lt;<font class="bodytext" color="#ffffff"><a href="http://www.auctions4acause.com/useragreement.asp">User 
              Agreement &amp; Rules</a></font>&gt; for more details on our refund 
              policy.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="34"></a></p>
            <p class="bodytext"><b>When will I receive the product?</b></p>
            <p class="bodytext">Usually you will receive the product 1-2 weeks 
              following payment of the successful bid. However it can take up 
              to 45 days depending on the product and shipping and distribution 
              times.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="36"></a></p>
            <p class="bodytext"><b>Can I see other participants' bids?</b></p>
            <p class="bodytext">No. This is a "blind" auction and all 
              bidding information is kept in the strictest confidence. Only the 
              auction supervisors and auditors will have access to bid amounts 
              while an auction is open.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="38"></a></p>
            <p class="bodytext"><b>Do the products or services come with a warranty?</b></p>
            <p class="bodytext">All products include the full manufacturers or 
              service providers' standard warranty.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="39"></a></p>
            <p class="bodytext"><b>Who can become a member and bid in an auction?</b></p>
            <p class="bodytext">Any person, 18 years of age or older, with a valid 
              credit card or accepted method of payment with a residence in the 
              USA or Canada, or a business entity qualified to do business within 
              a particular jurisdiction, with a valid credit card or accepted 
              method of payment and a shipping address in the USA or Canada.</p>
            <p class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;<a name="40"></a></p>
            <p class="bodytext"><b>What if I forget my username and/or password?</b></p>
            <p><span class="bodytext">Your username is the e-mail address we have 
              on file for you. If you change your e-mail address in your profile, 
              your new e-mail address will become your new username. To recover 
              your password, just click on the "I forgot my password" 
              link on the &lt;<a href="{$HTTPPATH}/index.php?ID={$ID}&p=users">member login page</a>&gt; 
              and your password will be e-mailed to the e-mail address stored 
              in your member profile.</span></p>
            <p><span class="bodytext">&lt;<a href="#top">Return to Top</a>&gt;</span><br>
            </p>
          </td>
        </tr>
        <tr> 
          <td colspan="2"> 
            <h2>&nbsp;</h2>
          </td>
        </tr>
      </tbody></table>
	
</div>