<div class="mainContentDv">
	<table border="0" cellpadding="2" cellspacing="2" width="100%">
        <tbody><tr> 
          <td colspan="2" align="left" valign="top"> 
            <h1 style="margin-bottom: 5px;" align="center">How Do The Auctions Work?</h1>
            
          </td>
        </tr>
        <tr> 
          <td colspan="2" align="left" valign="top"> 
            <table align="left" border="0" cellpadding="3" cellspacing="3" width="424" height="8">
              <tbody><tr> 
                <td width="237" height="1">
                <p align="left"><b class="bodytext"><a href="#texthowto">Text Version</a></b></p></td>
              </tr>
            </tbody></table>
            <p>&nbsp;</p>
            <div>
                  	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=4,0,2,0" name="How2" border="0" vspace="0" width="500" height="320" hspace="0">
                  		<param name="movie" value="How2.swf">
                  		<param name="loop" value="true">
                  		<param name="quality" value="high">
                  		<param name="bgcolor" value="#FFFFFF">
                        <embed src="auction4cause/images/How2.swf" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" name="how2" loop="true" bgcolor="#FFFFFF" border="0" vspace="0" width="500" height="320" hspace="0">
                        </object>
            </div>
            <p><a name="texthowto"><font size="1"></font></a><font size="1">&nbsp;</font></p>
            <p class="bodytext" style="margin-top: 0pt;"><b>Participating in an auction is quick, easy, 
            safe 
            and secure:</b></p>
            <ol>
              <li class="bodytext"><span class="bodytext"><b>Choose a product</b> 
                to bid on.</span></li>
              <li class="bodytext"><span class="bodytext">Click the </span><span class="smalltext"><font size="2"> 
                <img src="auction4cause/images/bidnow-gif.gif" width="75" height="20"> </font></span><span class="bodytext">
              &nbsp;button and enter your desired <b>bid 
                </b>amount.</span> 
                <ul type="disc">
                  <li><span class="bodytext">Your bid must be <b>less than or 
                    equal to the </b> </span><strong>Get<font color="#660099">4 
                    </font></strong> <span class="bodytext">price.</span>
                    <ul type="disc">
                      <li><span class="bodytext">If your bid is the highest <i>unique</i> 
                        bid, you win the auction and get to purchase <br>
                        the product for your <i>unique</i> bid amount.</span></li>
                      <li><span class="bodytext">It is not possible to buy a product 
                        at or below the </span><strong>Get<font color="#660099">4</font></strong><span class="bodytext"> 
                        price unless you <br>
                        win the auction with the highest <i>unique</i> bid.</span></li>
                    </ul>
                  </li>
                  <li> 
                    <p style="margin-bottom: 7px;"><span class="bodytext">Your selected 
                      charity or fundraiser will receive one point for every bid 
                      you place.</span>
                  
                </p></li></ul>
              </li>
              <li class="bodytext"> 
                <p style="margin-bottom: 7px;">Choose your method of payment and 
                  <b> confirm your bid</b>.
                </p><ul type="disc">
                  <li>You will be <b>charged the specified bid fee</b> for every 
                    bid you place.</li>
                  <li> 
                    <p style="margin-bottom: 7px;">Only the winner of the auction 
                      is able to purchase the product.
                  
                </p></li></ul>
              </li>
              <li class="bodytext">You will <b>receive a confirmation e-mail </b> 
                verifying your payment, bid amount and product.</li>
              <li class="bodytext"> 
                <p style="margin-bottom: 7px;">When the auction closes, <b>if your 
                  bid is the highest <i>unique</i> bid, YOU WIN</b>.
                </p><ul type="disc">
                  <li>An auction can close at any time, but it MUST close once 
                    the maximum number of bids
                    for that auction have been received.</li>
                  <li>A unique bid is a bid that is NOT duplicated by another 
                    bidder.</li>
                  <li> 
                    <p style="margin-bottom: 7px;">See the <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=faq">Frequently 
                      Asked Questions</a> area for more details on <i>unique</i> 
                      bids. 
                  
                </p></li></ul>
              </li>
              <li class="bodytext">We will notify you via e-mail if you've won 
                and provide a link to <b>purchase the item for your unique bid 
                amount</b>.</li>
              <li class="bodytext">Or, if your bid is NOT the highest <i>unique</i> 
                bid, you will <b>receive one </b> <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/bonus_auctions">Bonus 
                Auction</a> credit for each of your unsuccessful bids, to be used 
                in the <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/bonus_auctions">Bonus Auction</a> area!</li>
              <li class="bodytext"> 
                <p style="margin-bottom: 7px;">Auctions 4 a Cause <b>donates at least 
                  25%</b> the net auction&nbsp;proceeds to the sponsored charities 
                  and up to 65% of net proceeds to the fundraisers. 
                </p><ul type="disc">
                  <li> 
                    <p style="margin-bottom: 0pt;">See the <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=faq">Frequently 
                      Asked Questions</a> area for more details about the donations. 
                  
                </p></li></ul>
              </li>
            </ol>
            <p style="margin-top: 0pt; margin-bottom: 0pt;"><span class="bodytext"> 
              Still not sure?<b>&nbsp; TRY IT FOR FREE </b>first.&nbsp; You will 
              earn <b>ONE FREE BID CREDIT </b>to use in the <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/free_auctions">Free 
              Auction</a> area just for registering!</span></p>
                  
            <p style="margin-bottom: 0pt;"><span class="bodytext"><b>Refer your friends</b>.&nbsp; 
              Every time one of your friends bids in a main auction you will receive 
              one free auction credit, to be used in the <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/free_auctions">Free 
              Auction</a> area!</span>
            </p><p class="bodytext"><b><a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=secure">Your information is secure</a>, 
              follow this link for details on how we secure of your information.</b></p>
            <p class="bodytext">See the <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=faq">Frequently Asked Questions</a> 
              or&nbsp;<a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=useragreement">rules</a> for more details.</p>
            <p>&nbsp;</p>
          </td>
        </tr>
      </tbody></table>
	
</div>