<div class="mainContentDv">
<h1 align="center"><strong>Useful Links by the leading Unique Bid Auctions 
              Site </strong></h1>

            <p class="bodytext">We have put some links on this page that we think 
              might be useful to you. Please note that these links take you out 
              of the Auctions 4 a Cause unique bid web site and we are not responsible 
              for the content on these sites we link to.</p>
            <p class="orangebody">Check for active highest unique bid auctions:</p>
	
</div>