{literal}
<style type="text/css">
#bodyContent {
	width: 625px;
	font-family: Verdana;
	font-size: 11px;
}
#contentLeftCol {
	float: left;
	width: 400px;
	padding: 5px;
}
#contentRightCol {
	float: left;
	width: 200px;
	padding: 5px;
}
.contentBox {
	border: 1px solid #000000;
	margin-bottom: 15px;
}
.contentBoxHeight {
	height: 100px;
	overflow:scroll;
}
.contentHead {
	background-color:#999999;
	color:#000000;
	padding:3px;
	font-weight: bold;
}
.contentBody {
	padding: 5px;
	overflow:hidden;
}
.ullinks {
	display: inline;
	list-style-type: none;
	padding: 0px;
}
.alinks {
	text-decoration: none;	
}
.tr {
	width: 100%;
	float:left;
}
.th {
	width: 25%;
	float:left;
	padding: 3px;
	text-align: right;
	font-weight: bold;
}
.td {
	width: 65%;
	float:left;
	padding: 3px;
}
.clear {
	clear: both;
}
.error{
	font-weight: bold;
	color:#FF0000;
}
.bold {
	font-weight: bold;
}
button, select, input, textarea {
	font-family: Verdana;
	font-size: 11px;
}
.title {
	font-size: 24px;
	font-weight: bold;
}
.created{
	font-size: xx-small;
	padding-bottom: 5px;
}
.description {
	padding-bottom: 10px;
}
.pagination {
	text-align:right;
	padding:10px;
}
</style>


{/literal}
<div id="bodyContent">
	<div id="contentLeftCol">
		{if $section == "new"}
			{if $success == 1}
				<div id="content5" class="contentBox">
					<div id="contentHead5" class="contentHead">Confirmation</div>
					<div id="contentBody5" class="contentBody">
						New Blog added successfully.
					</div>
				</div>
			{else}
				<div id="content5" class="contentBox">
					<div id="contentHead5" class="contentHead">Add New Blog</div>
					<div id="contentBody5" class="contentBody">
						<form action="" method="post" name="frmNew">
							{$errorMessage}
							{if $categorySelBox and $result.settings.0.setting_id == 5} 
							<div class="tr">
								<div class="th">
								Category: 
								</div>
								<div class="td">
								  <select name="category_id[]" multiple="multiple" size="5">
									{$categorySelBox}
								  </select>
								</div>
							</div>
							{elseif $categorySelBox and $result.settings.0.setting_id == 4} 
							<div class="tr">
								<div class="th">
								Category: 
								</div>
								<div class="td">
								  <select name="category_id">
									{$categorySelBox}
								  </select>
								</div>
							</div>
							{/if}
							<div class="tr">
								<div class="th">
								Title: 
								</div>
								<div class="td">
								  <input type="text" name="title" id="title" size="35" value="{$smarty.post.title}">
								</div>
							</div>
							<div class="tr">
								<div class="th">
								Description: 
								</div>
								<div class="td">
								  <textarea name="description" cols="30" rows="5" id="description">{$smarty.post.description}</textarea>
								</div>
							</div>
							<div class="tr">
								<div class="th">
								Tags: 
								</div>
								<div class="td">
								  <input type="text" name="tags" id="tags" size="25" value="{$smarty.post.tags}">
								</div>
							</div>
							<div class="tr">
								<div class="th">
								
								</div>
								<div class="td">
								  Note: Comma seperated tags
								</div>
							</div>
							<div class="tr">
								<div class="th">
								
								</div>
								<div class="td">
								  <input type="submit" name="AddBlog" value="Add New Blog">
								</div>
							</div>
							<input type="hidden" name="MM_Insert" value="new">
							<input type="hidden" name="ID" value="{$ID}">
							<input type="hidden" name="user_id" value="{$smarty.session.user_id}">
							<input type="hidden" name="created" value="{$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'}">
						</form>
						<div class="clear"></div>
					</div>
				</div>
			{/if}
		{else}
			<div id="content5" class="contentBox">
				<div id="contentHead5" class="contentHead">{$PAGEHEADING}</div>
				<div id="contentBody5" class="contentBody">
					{if $records.totalRows gt 0}
						{foreach from=$records.record item=res}
							<div class="title"><a href="#" class="alinks">{$res.title|substr:0:20}</a></div>
							<div class="created">{$res.created|date_format:"%B %e, %Y"}</div>
							<div class="description">{$res.description|substr:0:200}</div>
						{/foreach}
						<div class="pagination">{$pagination}</div>
					{else}
						<div>No Blog Post Found.</div>
					{/if}
				</div>
			</div>		
		{/if}
	</div>
	<div id="contentRightCol">
		<div id="content1" class="contentBox">
			<div id="contentHead1" class="contentHead">Blog Links</div>
		  <div id="contentBody1" class="contentBody">
				<ul class="ullinks">
					<li class="lilinks"><a href="{$HTTPPATH}/index.php?action=blog&section=new&ID={$ID}" class="alinks">Add New Blog Post</a></li>
					<li class="lilinks"><a href="{$HTTPPATH}/index.php?action=blog&ID={$ID}" class="alinks">View Blogs</a></li>
				</ul>
			</div>
		</div>
		<div id="content2" class="contentBox">
			<div id="contentHead2" class="contentHead">Search Blog</div>
			<div id="contentBody2" class="contentBody">
				<form name="form1" method="get" action="">
			  		<input name="kw" type="text" id="kw" size="15" value="{$smarty.get.kw}">
			  		<input type="submit" name="Submit" value="Go">
					<input type="hidden" name="action" value="{$smarty.get.action}" />
					<input type="hidden" name="section" value="{$smarty.get.section}" />
					<input type="hidden" name="ID" value="{$smarty.get.ID}" />
				</form>		
			</div>
		</div>
		{if $result.settings.0.setting_id == 4 or $result.settings.0.setting_id == 5}
		<div id="content4" class="contentBox">
			<div id="contentHead4" class="contentHead">Blog Categories</div>
			<div id="contentBody4" class="contentBody contentBoxHeight">
				<div class="bold"><a href="#" class="alinks">Add New Category</a></div>
				<ul class="ullinks">
					{$category}
				</ul>
			</div>
		</div>
		{/if}
	</div>
	<div style="clear:both;"></div>
</div>