<!--<div id="contentRightCol">
	<div id="content1" class="contentBox">
		<div id="contentHead1" class="contentHead">menu</div>
		<div id="contentBody1" class="contentBody">
			<ul class="ullinks">
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=classifieds&action=myads&ID={$ID}" class="alinks">My Classified Ads</a></li>
			</ul>
		</div>
	</div>
</div> -->
		<!-- end content -->
		<!-- start sidebars -->
		<div id="sidebar2" class="sidebar">
			<ul>
				{$SIDEBAR}
			</ul>
		</div>
		<!-- end sidebars -->