<div class="mainContentDv">
	  <table border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td>
	

  <h1><strong>Auctions 4 a Cause is Secure</strong></h1>
  <p>We use encryption technologies to keep your                personal information safe. We also do not show your complete credit                card number to you on this site, even though you might have elected                to store it with your profile.</p>
  <p>We utilize Secure Socket Layer (SSL) encryption                and Verisign, the leader in secure transactions, as our payment                processor. This security technology makes it safe to enter and transmit                your credit card over the Internet by providing the following protections:</p>
  <p>Server authentication &mdash; keeps out imposters <br />
    Privacy using encryption &mdash; keeps out eavesdroppers <br />
    Data integrity &mdash; keeps out vandals <br />
  </p>
  <p>Furthermore, we ourselves are very protective                with our personal information, so you can expect our site and company                to be adhering to a strict <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=privacy">Privacy Policy</a>. </p>
  <p>Please <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=aboutus">contact us</a> with                any security or privacy concerns you might have.</p>  	</td>
  </tr>
</table>
</div>
