<div class="mainContentDv">
<table width="100%" border="0" cellspacing="2" cellpadding="2">
        <tr> 
          <td align="left" valign="top" colspan="2"> 
            <h1><b>Suggest a product</b></h1>
            <p><span class="bodytext">Do you have any suggestions for products 
              you would us to consider auctioning on this site? Are you a manufacturer 
              and would like to discuss your products with us?</span></p>
            <p class="bodytext">Feel free to <a href="{$HTTPPATH}/index.php?ID={$ID}&p=auction4cause/pages&action=aboutus">contact us 
              with your product suggestions.</a></p>

            </td>
        </tr>
        <tr> 
          <td colspan="2"> 
            <h2>&nbsp;</h2>
          </td>
        </tr>
      </table>
	
</div>