{literal}
<script type="text/JavaScript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_validateForm() { //v4.0
  var i,p,q,nm,test,num,min,max,errors='',args=MM_validateForm.arguments;
  for (i=0; i<(args.length-2); i+=3) { test=args[i+2]; val=MM_findObj(args[i]);
    if (val) { nm=val.name; if ((val=val.value)!="") {
      if (test.indexOf('isEmail')!=-1) { p=val.indexOf('@');
        if (p<1 || p==(val.length-1)) errors+='- '+nm+' must contain an e-mail address.\n';
      } else if (test!='R') { num = parseFloat(val);
        if (isNaN(val)) errors+='- '+nm+' must contain a number.\n';
        if (test.indexOf('inRange') != -1) { p=test.indexOf(':');
          min=test.substring(8,p); max=test.substring(p+1);
          if (num<min || max<num) errors+='- '+nm+' must contain a number between '+min+' and '+max+'.\n';
    } } } else if (test.charAt(0) == 'R') errors += '- '+nm+' is required.\n'; }
  } if (errors) alert('The following error(s) occurred:\n'+errors);
  document.MM_returnValue = (errors == '');
}
//-->
</script>
{/literal}
<div id="bodyContent">
	<div id="contentLeftCol">
		<div id="content5" class="contentBox">
			<div id="contentHead5" class="contentHead">{$PAGEHEADING}</div>
			<div id="contentBody5" class="contentBody">
				{if $errorMessage}
					<div class="error">{$errorMessage}</div>
				{/if}
				{if $breadCrumb}
					<div class="breadcrumb">{$breadCrumb}</div>
				{/if}
				<div class="newform">
					<form action="" method="post" name="formnewcat" onsubmit="MM_validateForm('category','','R');return document.MM_returnValue">						
						<div class="tr">
							<div class="th">
							Category: 
							</div>
							<div class="td">
							  <input type="text" name="category" value="" />
							</div>
						</div>					
						<div class="tr">
							<div class="th">
							
							</div>
						  <div class="td">
							  <input type="submit" name="submit" value="Add New Category" />
							  <input name="id" type="hidden" id="id" value="{$ID}" />
						      <input name="MM_Insert" type="hidden" id="MM_Insert" value="1" />
							  {if $result.settings.0.reference == "multi"}
							  	<input name="parent_id" type="hidden" id="parent_id" value="{$catId}" />
							  {else}	
							  	<input name="parent_id" type="hidden" id="parent_id" value="0" />						  
							  {/if}
						  </div>
						</div>
				  </form>
				</div>
				{if $records}
					<div class="stitle">Category Under {if $current.category}{$current.category}{else}Root{/if}</div>
					{foreach from=$records item=res}
						{if $result.settings.0.reference == "multi"}
						<div><a href="{$HTTPPATH}/index.php?p=blog&action=catview&ID={$ID}&catId={$res.category_id}" class="alinks">{$res.category}</a></div>
						{elseif $result.settings.0.reference == "single"}
							<div>{$res.category}</div>
						{/if}
					{/foreach}
				{else}
					<div>No Category Found.</div>
				{/if}
			</div>
		</div>	
	</div>
	{include file="blog/rightcol.html"}
	<div style="clear:both;"></div>
</div>