<div id="contentRightCol">
	<div id="content1" class="contentBox">
		<div id="contentHead1" class="contentHead">Photo Gallery</div>
		<div id="contentBody1" class="contentBody">
			<ul class="ullinks">
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=photoalbum&action=view&ID={$ID}" class="alinks">View My Gallery</a></li>
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=photoalbum&action=view&ID={$ID}" class="alinks">View Public Images</a></li>
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=photoalbum&action=new&ID={$ID}" class="alinks">Add New Photo</a></li>
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=photoalbum&action=managealbum&ID={$ID}" class="alinks">Manage My Album</a></li>
			</ul>
		</div>
	</div>
</div>