<!--
body {
	background-color: #990099;
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
	font-size: 11px;
}
td, th, table, p, select, input, textarea {
	font-family: Verdana;
	font-size: 11px;
}
a {
	text-decoration: none;
}
#mainBody {
	width: 800px;
	border: 1px solid #000000;
	margin-right: auto;
	margin-left: auto;
	margin-top:-25px;
}
#mainBody #mainHeader {
	background-color: #000000;
	text-align:center;
	padding-top:25px;
}
#mainBody #mainHeader h1 {
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
}
#mainBody #mainHeader p {
	font-size: 10px;
	color: #FFFFFF;
	text-align:center;
	margin-top: -20px;
	padding-bottom: 25px;
}
#mainBody #mainLower {
	background-color: #FFFFFF;
	margin-top: -20px;
	padding-bottom: 15px;
}
#mainBody #mainLower #mainNavigation {
	padding: 5px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #990099;
}
#mainBody #mainLower #mainContent {
	padding: 10px;
	min-height: 300px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #990099;
}
-->