<div id="contentRightCol">
	<div id="content1" class="contentBox">
		<div id="contentHead1" class="contentHead">Email Reminder Links</div>
	  <div id="contentBody1" class="contentBody">
			<ul class="ullinks">
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=emailreminder&action=new&ID={$ID}" class="alinks">Create New Reminder</a></li>
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=emailreminder&action=view&ID={$ID}" class="alinks">View My Email</a></li>
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=emailreminder&action=viewinactive&ID={$ID}" class="alinks">View My Inactive Email Reminder</a></li>
			</ul>
	  </div>
	</div>
</div>