<div id="contentRightCol">
	<div id="content1" class="contentBox">
		<div id="contentHead1" class="contentHead">Downtimealert Links</div>
	  <div id="contentBody1" class="contentBody">
			<ul class="ullinks">
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=downtimealert&action=new&ID={$ID}" class="alinks">Add New Alert</a></li>
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=downtimealert&action=view&ID={$ID}" class="alinks">View My Alerts</a></li>
			</ul>
		</div>
	</div>
</div>