<div id="contentRightCol">
	<div id="content1" class="contentBox">
		<div id="contentHead1" class="contentHead">File Menu</div>
	  <div id="contentBody1" class="contentBody">
			<ul class="ullinks">
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=filehost&action=new&ID={$ID}" class="alinks">Upload New File</a></li>
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=filehost&action=newmulti&ID={$ID}" class="alinks">Upload Mulitple File</a></li>
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=filehost&action=newdrag&ID={$ID}" class="alinks">Drag N Drop Upload</a></li>
				<li class="lilinks"><a href="{$HTTPPATH}/index.php?p=filehost&action=view&ID={$ID}" class="alinks">My Files</a></li>
			</ul>
		</div>
	</div>
</div>